
* {
    background-color: #c3c3c3;
}

#space1 {
    margin-bottom: 100px;
}

#me {
    float: left;
    width: 520px;
    margin-left: 350px;
    font-family: 'Segoe UI';
}

#me #p1 {
    text-align: justify;
    margin-right: 10px;
    font-family: 'Lucida Sans';
    color: rgb(75, 35, 35);
}

#me > h3 {
    margin-top: 15px;
    color: darkblue;
}

#photo-1 {
    width: 250px;
    border-radius: 15px;
    margin-right: 10px;
    float: left;
}
